<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>category_jquery_template</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>common.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONResponseServlet</servlet-name>
    <servlet-class>category.view.JSONResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONResponseServlet</servlet-name>
    <url-pattern>/jsonResponse</url-pattern>
  </servlet-mapping>  
</web-app>