<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimpleLoginCart_WithFilter</display-name>
  
  <!-- 로그인 -->
  <servlet>
  	<servlet-name>session login</servlet-name>
  	<servlet-class>servlet.session.SessionLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>session login</servlet-name>
  	<url-pattern>/session_login</url-pattern>
  </servlet-mapping>
  
  <!-- 세션 -->
  <servlet>
  	<servlet-name>session logout</servlet-name>
  	<servlet-class>servlet.session.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>session logout</servlet-name>
  	<url-pattern>/session/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>show list</servlet-name>
  	<servlet-class>servlet.session.cart.ShowShoppingListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>show list</servlet-name>
  	<url-pattern>/session/showlist</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>shopping cart</servlet-name>
  	<servlet-class>servlet.session.cart.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>shopping cart</servlet-name>
  	<url-pattern>/session/addItemsToCart</url-pattern>
  </servlet-mapping>
  
  <!-- 리다이렉트 -->
  <servlet>
  	<servlet-name>redirect</servlet-name>
  	<servlet-class>servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>redirect</servlet-name>
  	<url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  
  <!-- 필터 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/session/*</url-pattern>
  </filter-mapping>
  
</web-app>